body {
  background-color: #fff0fb; /* pink */
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #d2f4ff; /* blue */
  margin: 0 10%;
  box-shadow: 0px 2px 3px -1px;
}

.phrase,
.measure {
  display: flex;
}

.phrase {
  width: 80%;
  justify-content: space-between;
}

.measure {
  width: 20%;
  justify-content: space-between;
}

.beat {
  width: 25%;
  place-items: center center;
  padding: 1em 0;
  text-align: center;
  line-height: 1em;
}
